@(currentPage: com.avaje.ebean.Page[Computer], currentSortBy: String, currentOrder: String, currentFilter: String)

@main("List Computers") {

    <h1 id="homeTitle">@Messages("list.content.title", currentPage.getTotalRowCount)</h1>

    @if(flash.containsKey("success")) {
        <div class="alert-message success">
            <strong>Done!</strong> @flash.get("success")
        </div>
    }
    
    <div id="actions">
        
        <form action="@tags.link(currentSortBy, currentOrder, currentFilter, 0, "name")" method="GET">
            <input type="search" id="searchbox" name="f" value="@currentFilter" placeholder="Filter by computer name..." autocomplete="off">
            <input type="submit" id="searchsubmit" value="Filter by name" class="btn primary">
        </form>
        
        <a class="btn success" id="add" href="@routes.Application.create()">Add a new computer</a>
        
    </div>

    @listComponent(currentPage, currentSortBy, currentOrder, currentFilter)
        
}

            