@(title: String)(content: Html)
<!DOCTYPE html>
<html>
    <head>
        <title>Computers database - @title</title>
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/bootstrap.min.css")"> 
        <link rel="stylesheet" type="text/css" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        
        <script type="text/javascript" src="@routes.Application.javascriptRoutes"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/ajax_utils.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/live_search.js")"></script>
        <script type="text/javascript" src="@routes.Assets.at("javascripts/init.js")"></script>
        
    </head>
    <body>
        
        <header class="topbar">
            <h1 class="fill">
                <a href="@routes.Application.index()">
                    Play2 Demo
                </a>
            </h1>
            <dl id="user">
                <dd>
                    @if(Secured.getUsername == null) {
                        <a href="@routes.Application.login()">Login</a>
                    } else {
                        @Secured.getUsername (<a href="@routes.Application.logout()">Logout</a>)
                    }
                </dd>
            </dl>
        </header>
        
        <section id="main">
            @content
        </section>
        
    </body>
</html>
